@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face {
    font-family: 'iran';
    src: url('./assets/fonts/IRANSans_Medium.ttf') ;
}
@font-face {
    font-family: 'vazir';
    src: url('./assets/fonts/Vazir-Medium-FD.woff') ;
}
@layer components {
    .flex-center{
        @apply flex items-center
    }
}


.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: #CACACA; /* رنگ پیشفرض آبی را به قرمز تغییر دهید */
    margin-bottom: 5px!important;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #0197F9; /* رنگ نقطه‌های فعال را به سبز تغییر دهید */
  }
  
  